@(
  loginForm: Form[(String,String)],
  returnTo: String
)(
  implicit request: Request[AnyContent], messages: Messages, flash: Flash, env: play.api.Environment
)

@import helper._

@Base(Messages("app.login")) {
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">@Messages("app.please-sign-in")</h3>
          </div>
          <div class="panel-body">
            @form(hydro.controllers.routes.Auth.authenticate(returnTo)) {
              @for(flashMessage <- flash.get("message")) {
                <div class="alert alert-info" role="alert">
                    @flashMessage
                </div>
              }
              @if(loginForm.hasGlobalErrors) {
                <div class="has-error">
                  <label class="control-label has-error">
                    @Messages(loginForm.globalError.get.message)
                  </label>
                </div>
              }
              <fieldset>
                <div class="form-group">
                  <input class="form-control" placeholder="@Messages("app.username")" name="loginName" value="@loginForm("loginName").value" autofocus />
                </div>
                <div class="form-group">
                  <input class="form-control" placeholder="@Messages("app.password")" name="password" type="password" value="" />
                </div>
                <button class="btn btn-lg btn-success btn-block">@Messages("app.login")</button>
              </fieldset>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
}
