/****** general ******/
.global-messages {
  position:fixed;
  top: 6px;
  left: 23%;
  width: 54%;
  padding-top: 7px;
  padding-bottom: 9px;
  z-index:9999;
}

h1 {
  .buttons {
    padding-left: 100px;
    font-size: 23px;
    i:hover {
      color: orange;
      cursor: pointer;
    }
  }
}

h2 {
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 26px;
}

.table {
  &.table-overflow-elipsis {
    td, th {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 350px;
    }
  }
  .no-entries {
    font-style: italic;
  }
  .deemphasized td {
    color: #BBB;
  }
  .expand-on-click {
    cursor: pointer;
  }
  .primary-title {
    min-width: 246px;
    float: left;
  }
  .secondary-title {
    font-weight: normal;
    padding-left: 20px;
  }
}

select:-moz-focusring { // Remove outline from select box in FF: http://stackoverflow.com/a/18853002/1218058
    color: transparent;
    text-shadow: 0 0 0 #000;
}

/****** copied from Bootstrap dataTables ******/
table.table-bordered {
  thead th, thead td {
    border-left-width: 0;
    border-top-width: 0;
  }
  tbody th, tbody td {
    border-left-width: 0;
    border-bottom-width: 0;
  }
  tfoot th, tfoot td {
    border-left-width: 0;
    border-bottom-width: 0;
  }
  th:last-child, td:last-child {
    border-right-width: 0;
  }
}

/****** loading page ******/
.loading {
  text-align: center;

  .loading-icon {
    font-size: 100px;
  }
  .loading-message {
    font-size: 30px;
  }
}

/****** music player ******/
.music-player-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  background-color: #f1f3f4;
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,.15);
  padding: 25px 0;

  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 870px;
  }

  .metadata {
    float:left;
    padding-left: 20px;

    .title {
      font-weight: bold;
      font-size: 1.2em;
    }
    .artist {
      color: grey;
      padding-left: 10px;
    }
    .album {
      color: grey;
      padding-left: 10px;
      &:before { content: "("; }
      &:after { content: ")"; }
    }
  }

  .controls {
    float:right;
    padding-right: 20px;
  }

  .remote-control-buttons {
    clear: left;
    padding: 25px 39px 0 25px;

    .btn {
      width: 100%;
    }
  }
  audio {
    width: 100%;
    &:focus {
      outline:0;
    }
  }
}

/****** musical-object-with-buttons ******/
.musical-object-with-buttons {
  width: 100%;
  max-width: 600px;

  .main-info {
    float: left;
    font-size: 1.35em;

    .title {
      color: black;
    }

    .now-playing-indicator {
      padding-left: 13px;
      color: black;
    }
  }
  .buttons {
    float: right;
    font-size: 1.5em;
    i:hover {
      color: orange;
      cursor: pointer;
    }
  }
  .extra-info {
    clear: both;
    padding-left: 21px;
    height: 35px;
    &, a {
      color: #AAA;
    }

    .piece-of-info {
      padding-right: 20px;
    }
  }
  &.current-object {
    .main-info {
      color: blueviolet;
      .title {
        font-weight: bold;
        color: blueviolet;
      }
    }
  }
}

/****** playlist ******/
.clear-played-button {
  margin-left: 30px;
}
.playlist {
  .draggable {
    &.dragging {
      color: orange;
      .main-info {
        color: orange;
        .title {
          color: orange;
        }
      }
    }
    .playlist-entry-div, .album-playlist-entry-div {
      padding: 7px 18px 0px 12px;
      border-radius: 13px;
      margin: 6px;
      border: 2px #EEF solid;

      &.playlist-entry-div { background-color: #F8F8FF; }
      &.album-playlist-entry-div { background-color: #EEF; }

      &:hover {
        .main-info {
          color: orange;
          .title {
            color: orange;
          }
        }
      }

      &.before-current-song {
        .main-info {
          color: grey;
          .title {
            color: grey;
          }
        }
      }
    }
  }
}

/****** AlbumDetail ******/
.extra-album-info {
  padding-bottom: 30px;
  &, a {
    color: #AAA;
  }

  .piece-of-info {
    padding-right: 20px;
  }
}
